<title>{{ page.title }} - {{ site.title }}</title>

<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="title" content="{{ page.title }} - {{ site.title }}">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author.name }}">

<link rel="canonical" href="{{ '/' | relative_url }}">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:icon" content="{{ page.banner | default: site.icon | relative_url }}">
<meta property="twitter:title" content="{{ page.title }} - {{ site.title }}">
<meta property="twitter:description" content="{{ site.description }}">
<meta property="og:type" content="article">
<meta property="og:icon" content="{{ page.banner | default: site.icon | relative_url }}">
<meta property="og:site_name" content="{{ page.title }} - {{ site.title }}">
<meta property="og:title" content="{{ page.title }} - {{ site.title }}">
<meta property="og:description" content="{{ site.description }}">

<link rel="shortcut icon" href="{{ page.icon | default: site.icon | relative_url }}">
<link rel="apple-touch-icon" href="{{ page.icon | default: site.icon | relative_url }}">
<link rel="icon" href="{{ page.icon | default: site.icon | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="alternate" type="application/atom+xml" title="{{ page.title }} - {{ site.title }}" href="{{ 'atom.xml' | relative_url }}">
<link rel="search" type="application/opensearchdescription+xml" title="{{ page.title }} - {{ site.title }}" href="{{ 'opensearch.xml' | relative_url }}">

<meta name="msapplication-TileColor" content="#151515">
<meta name="theme-color" content="#151515">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@graph": [
		{
			"@type": "BreadcrumbList",
			"@context": "https://schema.org/",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"item": {
						"@id": "{{ '/' | absolute_url }}",
						"name": "{{ site.title }}"
					}
				},
				{
					"@type": "ListItem",
					"position": 2,
					"item": {
						"@id": "{{ '/' | relative_url }}",
						"name": "Projects"
					}
				},
				{
					"@type": "ListItem",
					"position": 3,
					"item": {
						"@id": "{{ '/articles.html' | relative_url }}",
						"name": "Articles"
					}
				},
				{
					"@type": "ListItem",
					"position": 4,
					"item": {
						"@id": "{{ '/news.html' | relative_url }}",
						"name": "News"
					}
				},
				{
					"@type": "ListItem",
					"position": 5,
					"item": {
						"@id": "{{ site.baseurl }} {{ page.url }}",
						"name": "{{ page.title }}"
					}
				}
			]
		}
	]
}
</script>