.highlight table td {
	padding: 5px;
}

.highlight table pre {
	margin: 0;
}

.highlight, .highlight .w {
	color: #D0D0D0;
}

.highlight .err {
	color: #151515;
	background-color: #AC4142;
}

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
	color: #888888;
}

.highlight .cp {
	color: #F4Bf75;
}

.highlight .nt {
	color: #F4Bf75;
}

.highlight .o, .highlight .ow {
	color: #D0D0D0;
}

.highlight .p, .highlight .pi {
	color: #D0D0D0;
}

.highlight .gi {
	color: #90A959;
}

.highlight .gd {
	color: #AC4142;
}

.highlight .gh {
	color: #6A9FB5;
	font-weight: bold;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
	color: #AA759f;
}

.highlight .kc {
	color: #D28445;
}

.highlight .kt {
	color: #D28445;
}

.highlight .kd {
	color: #D28445;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
	color: #90A959;
}

.highlight .sr {
	color: #75B5AA;
}

.highlight .si {
	color: #8F5536;
}

.highlight .se {
	color: #8F5536;
}

.highlight .nn {
	color: #F4BF75;
}

.highlight .nc {
	color: #F4BF75;
}

.highlight .no {
	color: #F4BF75;
}

.highlight .na {
	color: #6A9FB5;
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
	color: #90A959;
}

.highlight .ss {
	color: #90A959;
}
