---
---

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	opacity: 0.95;
}

p,
ul,
li,
pre,
code {
	opacity: 0.9;
}

a {
	opacity: 0.98;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-top: 8px;
	margin-bottom: 8px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 10px;

	&.noborder {
		border-radius: 0;
	}
}

.video {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

@media (min-width: 762px) {
	.article {
		max-width: 50%;
		padding-right: 10px;
		padding-left: 10px;
		margin-right: auto;
		margin-left: auto;
	}
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: none !important;
	background-color: var(--bs-gray-800);
	height: 3px;
	width: 25px;
	margin: 10px 0;
	position: relative;
	transition: all 0.35s ease-out;
	transform-origin: center;
}

.navbar-toggler-icon::before {
	display: block;
	background-color: var(--bs-gray-800);
	height: 3px;
	content: "";
	position: relative;
	top: -7px;
	transition: all 0.15s ease-out;
	/* taken down to hide quicker */
	transform-origin: center;
}

.navbar-toggler-icon::after {
	display: block;
	background-color: var(--bs-gray-800);
	height: 3px;
	content: "";
	position: relative;
	top: 4px;
	transition: all 0.35s ease-out;
	transform-origin: center;
}

[data-bs-theme="dark"] .navbar-toggler-icon,
[data-bs-theme="dark"] .navbar-toggler-icon::before,
[data-bs-theme="dark"] .navbar-toggler-icon::after {
	background-color: var(--bs-gray-100);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
	transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
	opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
	transform: rotate(-90deg) translateX(7px);
}

.navbar-brand img {
	display: block;
	width: 60px;
}

.navbar-brand img {
	content: url("../img/logo-dark.png");
}

[data-bs-theme="dark"] .navbar-brand img {
	content: url("../img/logo-light.png");
}

#comments {
	margin: 20px auto;

	.comments-head {
		justify-content: space-between;
		display: flex;
		gap: 1;

		* {
			margin: auto 2px;
		}
	}

	#comments-wrapper {
		.comment {
			margin-bottom: 1.5em;

			.comment-user {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 1em;
				gap: 2;

				.comment-avatar {
					align-self: flex-start;
					width: 25px;
				}

				* {
					margin: auto 2px;
				}
			}

			.comment-body {
				color: var(--text-secondary);
				border-left: 3px solid var(--text-secondary);
				border-radius: 3px;
				padding: 2.5px 10px;
			}

			.comment-edited {
				font-style: italic;
				opacity: 0.8;
			}
		}
	}
}

.typewriter {
	overflow: hidden;
	border-right: 0.15em solid var(--primary);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: var(--primary);
	}
}