---
---

@import "normalize.css";
@import "font.css";
@import "highlight.css";

:root {
	--background-color: #F5F5F5;
	--background-code-color: #202020;
	--background-footer-color: #000000;
	--text-color: #404040;
	--text-code-color: #DDDDDD;
	--text-footer-color: #F5F5F5;
	--table-color: #909090;
	--heading-color: #202020;
	--brand-color: #C62828; /* #4580A5 */
	--green-color: #00AA00;
	--red-color: #AA0000;
}

$breakpoints: (
	xs: 0px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

* {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	accent-color: var(--brand-color);
	font-family: Lato, sans-serif;
	/*font-family: 'Pixelify Sans', sans-serif;*/
	letter-spacing: 0.4px;
	line-height: 1.6;
	scroll-behavior: smooth;
}

@media (min-width: map-get($breakpoints, xs)) {
	body {
		font-size: 14px;
	}
}

@media (min-width: map-get($breakpoints, sm)) {
	body {
		font-size: 16px;
	}
}

@media (min-width: map-get($breakpoints, md)) {
	body {
		font-size: 18px;
	}
}

@media (min-width: map-get($breakpoints, lg)) {
	body {
		font-size: 20px;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	body {
		font-size: 22px;
	}
}

.header-container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
}

.header {
	background-color: var(--heading-color);
	overflow: hidden;

	a {
		color: var(--background-color);
		text-decoration: none;
		text-align: center;
		display: block;
		font-size: 18px;
		padding: 14px 16px;
		float: left;

		&:hover,
		&.active {
			background-color: var(--text-color);
			color: var(--background-color);
		}

		&.menu {
			display: none;
		}
	}

	input[type=text] {
		width: 100%;
		display: none;
		padding: 14px;
		text-align: left;
		font-size: 18px;
		border: 1.5px solid var(--heading-color);
	}

	&.open {
		a {
			&:hover,
			&.active {
				background-color: var(--text-color);
				color: var(--background-color);
			}
		}

		input[type=text] {
			display: inline-block;
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		a {
			&:not(.active) {
				display: none;
			}

			&.logo {
				display: block;
				float: left;
			}

			&.menu {
				display: block;
				float: right;
			}
		}

		&.open {
			position: relative;

			a {
				display: block;
				text-align: left;
				float: none;


				&.logo {
					display: nonne;
				}

				&.menu {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}
}

.content {
	max-width: 90%;
	min-height: 80vh;
	margin: 20px auto;
}

.footer {
	background-color: var(--background-footer-color);
	text-align: center;
	flex-direction: column;
	display: flex;
	padding: 5vh 2vw 5vh 2vw;

	* {
		color: var(--text-footer-color);
		opacity: 0.9;
	}

	.social {
		justify-content: center;
		text-align: center;
		display: flex;
		padding: 8px;

		a {
			color: var(--text-footer-color);
			text-decoration: none;
			margin: 0 0.5em 0 0.5em;
		}
	}

	.links {
		margin: 1.25em 0 1.25em 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	opacity: 0.9;
}

h4, h5, h6 {
	color: var(--text-color);
	font-weight: normal;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

a {
	color: var(--brand-color);
	text-decoration: underline;
}

ul, ol {
	list-style-position: inside;
	padding-left: 12px;

	li {
		padding-bottom: 4px;
	}
}

blockquote {
	background-color: rgba(0, 0, 0, 0.02);
	border-left: 4px solid var(--table-color);
	border-radius: 4px;
	margin: 20px 0;
	padding: 5px 10px;
	font-style: italic;
}

code {
	font-family: Inconsolata, monospace;
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 4px;
	color: var(--text-color);
}

pre {
	background-color: var(--background-code-color);
	border: 1.5px solid var(--text-color);
	border-radius: 4px;
	padding: 10px;
	font-family: Inconsolata, monospace;
	font-size: 14px;
	line-height: 1.4;
	overflow: auto;
	overflow-y: hidden;

	code {
		color: var(--text-code-color);
		margin: 0;
		padding: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table tr:nth-of-type(2n) {
	background-color: rgba(0, 0, 0, 0.04);
	color: var(--text-color);
}

th {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	color: var(--text-color);
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
	padding: 1.2rem 0.4rem;
}

td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	vertical-align: middle;
	text-align: left;
	padding: 1.2rem 0.4rem;
}

thead {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

tfoot {
	border-top: 2px solid rgba(0, 0, 0, 0.2);
}

hr {
	background-color: var(--table-color);
	border: 0;
	border-radius: 4px;
	outline: none;
	height: 2px;
	margin: 0 0 20px;
	opacity: 0.2;
}

dt {
	color: var(--heading-color);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;

	&.pixel {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}

	&.noborder {
		border-radius: 0;
	}
}

details {
	border: 1.5px solid var(--text-code-color);
	border-radius: 4px;
	margin-bottom: 1rem;

	summary {
		cursor: pointer;
		padding: 0.6rem 1rem;
	}

	&[open] {
		padding: 0.6rem 1rem;

		summary {
			margin-bottom: 0.5rem;
			padding: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 10px;

	&.noborder {
		border-radius: 0;
	}
}

.video {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.button {
	background-color: var(--brand-color);
	color: var(--background-color);
	border: 0;
	border-radius: 4px;
	padding: 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 14px;
	text-align: center;
	text-decoration: none;

	&:hover {
		opacity: 0.8;
		color: var(--background-color);
	}

	&.noborder {
		border-radius: 0;
	}

	&.full-width {
		width: 100%;
	}
}

.tag {
	background-color: var(--heading-color);
	color: var(--background-color);
	padding: 6px;
	margin: 4px;
	border-radius: 4px;
	line-height: 1;
	letter-spacing: 0.4px;
	display: inline-block;
}

.circle {
	aspect-ratio: 1;
	border-radius: 50%;
}

.mc {
	font-family: Minecraft, sans-serif;
}

.clear-deco {
	text-decoration: none;
}

.link {
	color: var(--brand-color);
}

.text-green {
	color: var(--green-color);
}

.text-red {
	color: var(--red-color);
}

.bg-green {
	background-color: var(--green-color);
}

.bg-red {
	background-color: var(--red-color);
}

#comments {
	margin: 20px auto;

	.comments-head {
		justify-content: space-between;
		display: flex;
		gap: 1;

		* {
			margin: auto 2px;
		}
	}

	#comments-wrapper {
		.comment {
			.comment-user {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 2;

				.comment-avatar {
					align-self: flex-start;
					width: 25px;
				}

				* {
					margin: auto 2px;
				}
			}

			.comment-body {
				border-left: 3px solid rgba(0, 0, 0, 0.2);
				border-radius: 3px;
				padding-inline-start: 10px;
			}

			.comment-edited {
				font-style: italic;
				opacity: 0.8;
			}
		}
	}
}
