---
---

@import "normalize.css";
@import "font.css";
@import "highlight.css";

:root {
	--background-color: #F5F5F5;
	--background-code-color: #202020;
	--background-footer-color: #000000;
	--text-color: #404040;
	--text-code-color: #DDDDDD;
	--text-footer-color: #F5F5F5;
	--heading-color: #202020;
	--table-color: #808080;
	--brand-color: #4580A5;
	--green-color: #00AA00;
	--red-color: #AA0000;
}

$breakpoints: (
	xs: 0px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

* {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	accent-color: var(--brand-color);
	font-family: Lato, sans-serif;
	letter-spacing: 0.2px;
	line-height: 1.6;
	scroll-behavior: smooth;
}

@media (min-width: map-get($breakpoints, xs)) {
	body {
		font-size: 14px;
	}
}

@media (min-width: map-get($breakpoints, sm)) {
	body {
		font-size: 16px;
	}
}

@media (min-width: map-get($breakpoints, md)) {
	body {
		font-size: 18px;
	}
}

@media (min-width: map-get($breakpoints, lg)) {
	body {
		font-size: 20px;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	body {
		font-size: 22px;
	}
}

.header-container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
}

.header {
	background-color: var(--heading-color);
	overflow: hidden;

	a {
		color: var(--background-color);
		text-decoration: none;
		text-align: center;
		display: block;
		font-size: 18px;
		padding: 14px 16px;
		float: left;

		&:hover,
		&.active {
			background-color: var(--text-color);
			color: var(--background-color);
		}

		&.menu {
			display: none;
		}
	}

	input[type=text] {
		width: 100%;
		display: none;
		padding: 14px;
		text-align: left;
		font-size: 18px;
		border: 1px solid var(--heading-color);
	}

	&.open {
		a {
			&:hover,
			&.active {
				background-color: var(--text-color);
				color: var(--background-color);
			}
		}

		input[type=text] {
			display: inline-block;
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		a {
			&:not(.active) {
				display: none;
			}

			&.logo {
				display: block;
				float: left;
			}

			&.menu {
				display: block;
				float: right;
			}
		}

		&.open {
			position: relative;

			a {
				display: block;
				text-align: left;
				float: none;


				&.logo {
					display: nonne;
				}

				&.menu {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}
}

.content {
	max-width: 90%;
	min-height: 80vh;
	margin: 20px auto;
}

.footer {
	background-color: var(--background-footer-color);
	text-align: center;
	flex-direction: column;
	display: flex;
	padding: 5vh 2vw 5vh 2vw;


	* {
		color: var(--text-footer-color);
		opacity: 0.85;
	}

	.social-media {
		justify-content: center;
		text-align: center;
		display: flex;
		padding: 8px;

		a {
			color: var(--text-footer-color);
			text-decoration: none;
			margin: 0 0.5em 0 0.5em;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	opacity: 0.9;
}

h4, h5, h6 {
	color: var(--text-color);
	font-weight: normal;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

a {
	color: var(--brand-color);
	text-decoration: underline;
}


ul, ol {
	list-style-position: inside;
	padding-left: 12px;

	li {
		padding-bottom: 4px;
	}
}

.green {
	color: var(--green-color);
}

.red {
	color: var(--red-color);
}

blockquote {
	border-left: 3px solid var(--brand-color);
	border-radius: 3px;
	margin: 20px 0;
	padding: 0 10px;
	font-style: italic;
}

code {
	font-family: Inconsolata, monospace;
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 3px;
	color: var(--text-color);
}

pre {
	background-color: var(--background-code-color);
	border: 1px solid var(--table-color);
	border-radius: 3px;
	padding: 10px;
	font-family: Inconsolata, monospace;
	font-size: 14px;
	line-height: 1.4;
	overflow: auto;
	overflow-y: hidden;

	code {
		color: var(--text-code-color);
		margin: 0;
		padding: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	color: var(--text-color);
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid var(--table-color);
	font-weight: normal;
}

td {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid var(--table-color);
}

hr {
	background-color: var(--text-color);
	border: 0;
	border-radius: 4px;
	outline: none;
	height: 1px;
	margin: 0 0 20px;
	opacity: 0.5;
}

dt {
	color: var(--heading-color);
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 3px;

	.noborder {
		border-radius: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;

	.pixel {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}

	.noborder {
		border-radius: 0;
	}
}

.video {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

.button {
	background-color: var(--brand-color);
	color: var(--background-color);
	border: 0;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 14px;
	text-align: center;
	text-decoration: none;

	&:hover {
		opacity: 0.8;
		color: var(--background-color);
	}

	.noborder {
		border-radius: 0;
	}
}

.tag {
	background-color: var(--heading-color);
	color: var(--background-color);
	padding: 6px;
	margin: 4px;
	border-radius: 4px;
	line-height: 1;
	letter-spacing: 0.4px;
	display: inline-block;
}

.link {
	color: var(--brand-color);
}

.circle {
	aspect-ratio: 1;
	border-radius: 50%;
}

details {
	background: var(--text-code-color);
	border: 1px solid var(--table-color);
	border-radius: 5px;
	margin-bottom: 1rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
	padding: 0.6rem 1rem;
}

details[open] {
	padding: 0.6rem 1rem 0.75rem 1rem;
}

details[open] summary {
	margin-bottom: 0.5rem;
	padding: 0;
}

details[open] > *:last-child {
	margin-bottom: 0;
}

.scroll-indicator-container {
	background-color: var(--text-color);
	width: 100%;
	height: 8px;
}

.scroll-indicator-bar {
	background-color: var(--brand-color);
	height: 8px;
	width: 0%;
}