---
---
@import "normalize.scss";
@import "font.scss";
@import "highlight.scss";

body {
	padding: 0 0 20px 0;
	margin: 0;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #F5F5F5;
	background-color: #252525;
	background-attachment: fixed !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	font-weight: normal;
	color: #E0E0E0;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;

}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h4, h5, h6 {
	color: #E0E0E0;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	color: #BDBDBD;
}

a {
	font-weight: 400;
	text-decoration: none;
	color: #FF5722;

	&:hover {
		color: #E64A19;
	}
}

a small {
	margin-top: -0.6em;
	display: block;
	color: #616161;
	font-size: 11px;
}

strong {
	font-weight: normal;
}

.wrapper {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

section img {
	max-width: 100%;
}

blockquote {
	border-left: 3px solid #FF5722;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code {
	font-family: "Inconsolata", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
	border-radius: 2px;
	color: #EEEEEE;
}

pre {
	padding: 8px 15px;
	background-color: #111111;
	border-radius: 2px;
	border:1px solid #010101;
	overflow: auto;
	overflow-y: hidden;

	code {
		color: #EEEEEE;
		margin: 0;
		padding: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #424242;
	color: #BDBDBD;
	font-weight: normal;
}

td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #424242;
}

hr {
	border: 0;
	outline: none;
	height: 3px;
	background-color: #757575;
	margin: 0 0 20px;
}

dt {
	color:#F5F5F5;
	font-weight: normal;
}

#header {
	z-index: 100;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	position: fixed;
	background-color: #323232;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

	nav {
		max-width: 650px;
		margin: 0 auto;
		padding: 0 10px;
		background-color: blue;
		margin: 6px auto;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				font-weight: normal;
				list-style: none;
				display: inline;
				color: white;
				line-height: 50px;
				font-size: 14px;

				a {
					color: white;
					border: 1px solid #E64A19;
					border-radius: 2px;
					background-color: #FF5722;
					padding: 10px 12px;
					margin-top: 6px;
					line-height: 14px;
					font-size: 14px;
					display: inline-block;
					text-align: center;

					&:hover {
						background-color: #E64A19;
						border: 1px solid #BF360C;
					}
				}

				&.fork {
					float: left;
					margin-left: 0;
				}

				&.downloads {
					float: right;
					margin-left: 6px;
				}

				&.title {
					float: right;
					margin-right: 10px;
					font-size: 11px;
				}
			}
		}
	}
}

section {
	max-width: 650px;
	padding: 30px 0 50px 0;
	margin: 20px 0;
	margin-top: 70px;

	#title {
		border: 0;
		outline: none;
		margin: 0 0 50px 0;
		padding: 0 0 5px 0;

		h1 {
			font-weight: normal;
			font-size: 40px;
			text-align: center;
			line-height: 36px;
		}

		p {
			color: #DBDBDB;
			font-weight: normal;
			font-size: 18px;
			text-align: center;
		}

		.credits {
			font-size: 11px;
			font-weight: normal;
			color: #616161;
			margin-top: -10px;

			&.left {
				float: left;
			}

			&.right {
				float: right;
			}
		}

	}
}

@media print, screen and (max-width: 720px) {
	#title {
		.credits {
			display: block;
			width: 100%;
			line-height: 30px;
			text-align: center;

			.left {
				float: none;
				display: block;
			}

			.right {
				float: none;
				display: block;
			}
		}
	}
}

@media print, screen and (max-width: 480px) {
	#header {
		margin-top: -20px;
	}

	section {
		margin-top: 40px;
	}

	nav {
		display: none;
	}
}
