---
---

@import "normalize.css";
@import "font.css";
@import "highlight.css";

* {
	max-width: 100%;
	max-height: 100%;
}

// def
$background-color: #151515;
$text-color: #E0E0E0;
$heading-color: #F5F5F5;
$table-color: #424242;
$brand-color: #FFCC00;
$brand-secondary-color: #FFEB9B;

// new
$background-color: #121212;
$text-color: #BDBDBD;
$heading-color: #F5F5F5;
$table-color: #424242;
$brand-color: #E74A45;
$brand-secondary-color: #E74A45;

// new
$background-color: #121212;
$text-color: #BDBDBD;
$heading-color: #F5F5F5;
$table-color: #424242;
$brand-color: #E9CE2C;
$brand-secondary-color: #F9DC5C;

body {
	background-color: $background-color;
	color: $text-color;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	color: $heading-color;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;

}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
	line-height: 24px;
}

a {
	font-weight: 400;
	text-decoration: none;
	color: $brand-color;

	&:hover {
		color: $brand-secondary-color;
	}
}

.wrapper {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

section img {
	max-width: 100%;
}

blockquote {
	border-left: 3px solid $brand-color;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code {
	font-family: "Inconsolata", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
	border-radius: 2px;
	color: $text-color;
}

pre {
	padding: 8px 15px;
	background-color: #111111;
	border-radius: 2px;
	border:1px solid #010101;
	overflow: auto;
	overflow-y: hidden;

	code {
		color: $text-color;
		margin: 0;
		padding: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid $table-color;
	color: $text-color;
	font-weight: normal;
}

td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid $table-color;
}

hr {
	border: 0;
	outline: none;
	height: 2px;
	background-color: $table-color;
	margin: 0 0 20px;
}

dt {
	color: $heading-color;
}

img {
	max-width: 100%;
	border-radius: 5px;

	.pixel {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}

	.noborder {
		border-radius: 0;
	}
}

.button {
	background-color: $brand-color;
	color: $background-color;
	border-radius: 2px;
	padding: 10px 12px;
	margin-top: 6px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;

	&:hover {
		background-color: $brand-color;
		color: $background-color;
		opacity: 0.5;
	}
}

.tag {
	padding: 5px;
	background-color: #323232;
	color: #DBDBDB;
	border-radius: 5px;
	line-height: 1.1;
	letter-spacing: 0.5px;
}

.link {
	color: $brand-color;
}

.header {
	height: 220px;
	max-width: 650px;
	padding: 50px 0 0 0;

	a {
		h1 {
			font-weight: normal;
			font-size: 40px;
			text-align: center;
			line-height: 36px;
			margin-bottom: 10px;
		}
	}

	p {
		color: #DBDBDB;
		font-weight: normal;
		font-size: 18px;
		text-align: center;
	}

	.nav-menu {
		font-size: 18px;
		margin-bottom: 25px;
		text-align: center;
	}
}

.container {
	min-height: 80vh;
}

.footer {
	min-height: 20vh;
	background-color: #111111;
	color: $heading-color;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	padding: 5vh 2vw 5vh 2vw;
	gap: 1em;
	
	.social-media {
		justify-content: center;
		text-align: center;
		display: flex;
		padding: 8px;
		gap: 1em;

		a {
			color: $heading-color;
			text-decoration: none;
			flex: 0.1;

			&:hover {
				color: $brand-color;
			}
		}
	}
}

.projects {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.project {
		margin: 12px;

		a {
			text-decoration: none;

			img {
				width: 250px;
				margin: 20px 0 20px 0;
			}
		}
	}
}

.articles {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.article {
		margin: 12px;

		a {
			text-decoration: none;

			img {
				margin: 20px 0 20px 0;
			}
		}
	}
}

.news {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.new {
		margin: 12px;

		a {
			text-decoration: none;

			img {
				margin: 20px 0 20px 0;
			}
		}
	}
}

.about {
	text-align: center;

	h1 {
		margin: 30px auto 30px auto;
	}
}