---
---

@import "index.css";

.cookie-consent {
	background-color: var(--background-color);
	color: var(--text-color);
	position: fixed;
	text-align: center;
	display: block;
	border-top: 5px solid var(--brand-color);
	padding: 6px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.projects {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.project {
		margin: 12px;

		img {
			margin: 20px 0 20px 0;
		}

		h2 {
			color: var(--text-color);
			font-weight: normal;
			font-size: 18px;
			margin-top: 0;
		}
	}
}

.blog {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.post {
		margin: 12px;

		img {
			margin: 20px 0 20px 0;
		}

		h3 {
			color: var(--text-color);
			font-weight: normal;
			font-size: 18px;
			margin-top: 0;
		}
	}
}

.about {
	text-align: center;

	h1 {
		margin: 30px auto 30px auto;
	}
}

#comments {
	margin: 20px auto;

	.comments-head {
		justify-content: space-between;
		display: flex;
		gap: 1;

		* {
			margin: auto 2px;
		}
	}

	#comments-wrapper {
		.comment {
			.comment-user {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 2;

				.comment-avatar {
					align-self: flex-start;
					width: 40px;
				}

				* {
					margin: auto 2px;
				}
			}

			.comment-body {
				border-left: 3px solid var(--table-color);
				border-radius: 3px;
				padding-inline-start: 10px;
			}

			.comment-edited {
				font-style: italic;
			}
		}
	}
}
