---
---

@import "normalize.css";
@import "font.css";
@import "highlight.css";

* {
	max-width: 100%;
	max-height: 100%;
	user-select: none;
}

$background-color: #121212;
$text-color: #BDBDBD;
$heading-color: #F5F5F5;
$table-color: #424242;
$brand-color: #E9CE2C;
$brand-secondary-color: #F9DC5C;
$breakpoints: (
	xs: 0px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

body {
	background-color: $background-color;
	color: $text-color;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

@media (min-width: map-get($breakpoints, xs)) {
	body {
		font-size: 14px;
	}
}

@media (min-width: map-get($breakpoints, sm)) {
	body {
		font-size: 16px;
	}
}

@media (min-width: map-get($breakpoints, md)) {
	body {
		font-size: 18px;
	}
}

@media (min-width: map-get($breakpoints, lg)) {
	body {
		font-size: 20px;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	body {
		font-size: 22px;
	}
}

h1, h2, h3, h4, h5 {
	color: $heading-color;
}

h6 {
	color: $text-color;
}

a {
	text-decoration: none;
	color: $brand-color;

	&:hover {
		color: $brand-secondary-color;
	}
}

.wrapper {
	max-width: 650px;
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
}

section img {
	max-width: 100%;
}

blockquote {
	border-left: 3px solid $brand-color;
	border-radius: 3px;
	margin: 0;
	padding: 0 0 0 15px;
	font-style: italic;
}

code {
	font-family: "Inconsolata", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
	border-radius: 2px;
	color: $text-color;
}

pre {
	padding: 8px 15px;
	background-color: #111111;
	border-radius: 2px;
	border:1px solid #010101;
	overflow: auto;
	overflow-y: hidden;

	code {
		color: $text-color;
		margin: 0;
		padding: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid $table-color;
	color: $text-color;
	font-weight: normal;
}

td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid $table-color;
}

hr {
	border: 0;
	outline: none;
	height: 2px;
	background-color: $table-color;
	margin: 0 0 20px;
}

dt {
	color: $heading-color;
}

img {
	max-width: 100%;
	border-radius: 5px;

	.pixel {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}

	.noborder {
		border-radius: 0;
	}
}

.button {
	background-color: $brand-color;
	color: $background-color;
	border: 0;
	border-radius: 2px;
	padding: 10px 12px;
	margin-top: 6px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: $brand-color;
		color: $background-color;
		opacity: 0.8;
	}
}

.tag {
	padding: 5px;
	background-color: #323232;
	color: #DBDBDB;
	border-radius: 5px;
	line-height: 1.1;
	letter-spacing: 0.5px;
}

.link {
	color: $brand-color;
}

.circle {
	aspect-ratio: 1;
	border-radius: 50%;
}

.header {
	height: 220px;
	max-width: 650px;
	padding: 50px 0 0 0;

	a {
		h1 {
			font-weight: normal;
			font-size: 40px;
			text-align: center;
			line-height: 36px;
			margin-bottom: 10px;
		}
	}

	p {
		color: #DBDBDB;
		font-weight: normal;
		font-size: 18px;
		text-align: center;
	}

	.nav-menu {
		font-size: 18px;
		margin-bottom: 25px;
		text-align: center;
	}
}

.container {
	min-height: 80vh;
}

.footer {
	min-height: 20vh;
	background-color: #111111;
	color: $heading-color;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	padding: 5vh 2vw 5vh 2vw;
	gap: 1em;
	
	.social-media {
		justify-content: center;
		text-align: center;
		display: flex;
		padding: 8px;
		gap: 1em;

		a {
			color: $heading-color;
			text-decoration: none;
			flex: 0.1;

			&:hover {
				color: $brand-color;
			}
		}
	}
}

.projects {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.project {
		margin: 12px;

		img {
			margin: 20px 0 20px 0;
		}
	}
}

.articles {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.article {
		margin: 12px;

		img {
			margin: 20px 0 20px 0;
		}
	}
}

.news {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 40px;
	}

	.new {
		margin: 12px;

		img {
			margin: 20px 0 20px 0;
		}
	}
}

.about {
	text-align: center;

	h1 {
		margin: 30px auto 30px auto;
	}
}


#comments {
	margin: 20px auto;

	.comments-head {
		justify-content: space-between;
		display: flex;
		gap: 1;

		* {
			margin: auto 2px;
		}
	}

	#comments-wrapper {
		.comment {
			.comment-user {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 2;

				.comment-avatar {
					align-self: flex-start;
					width: 40px;
				}

				* {
					margin: auto 2px;
				}
			}

			.comment-body {
				border-left: 3px solid $table-color;
				border-radius: 3px;
				padding-inline-start: 10px;
			}

			.comment-edited {
				font-style: italic;
			}
		}
	}
}