---
---

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.container {
	max-width: var(--width-medium);
	margin: 0 auto;
	padding: 1rem 2rem;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.row-hero {
	padding-left: 5em;
	padding-right: 5em;

	* {
		text-align: center;
	}
}

/* Buttons */

.button {
	display: inline-block;
	padding: 0.75rem 1.9rem;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 0.82rem;
	transition: 0.3s;
	border: 0;
	outline: 0;
}

.button-primary {
	background: var(--primary);
	color: #000000;
}

.button-secondary {
	margin: 5px 0;
	background-color: var(--bg-secondary);
	color: var(--bg-primary);
}

.button-primary:hover {
	background: var(--secondary);
}

/* Header Container */
.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 8rem;
	padding: 1rem;
}

.header-container > div {
	margin-top: 1rem;
}

.content-text {
	text-align: center;
	margin: 1.5rem 0;
}

.content-text h2 {
	font-size: 3rem;
	line-height: 1.2;
	transition: 0.2s ease-in-out;
}

.content-text p {
	padding: 0.5rem;
	margin: 0 auto;
	max-width: 700px;
}

/* Theme Switcher */

.theme-switch-wrapper {
	display: flex;
	align-items: center;
}

.theme-switch-wrapper p {
	margin-left: 10px;
	font-size: 1rem;
}

.theme-switch {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 24px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: var(--shark);
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: var(--iron);
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	left: 4px;
	bottom: 4px;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--primary);
}

input:checked + .slider:before {
	background-color: white;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Project Card */

.card {
	padding: 1rem;
	background: var(--card-background);
	color: #FFFFFF;
	border-radius: 5px;
	transition: 0.4s ease-in-out;
	cursor: pointer;
}

.card a {
	color: #FFFFFF;
	transition: 0.25s ease-in-out;
	font-size: 1.1rem;
	margin-right: 0.3rem;
}

.card a:hover {
	color: var(--primary);
}

.card:hover {
	box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
}

.card:hover .project-info {
	opacity: 1;
}


.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 10px;

	&.noborder {
		border-radius: 0;
	}
}

.video {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}


.tag {
	background-color: var(--text);
	color: var(--bg-primary);
	padding: 6px;
	margin: 4px;
	border-radius: 4px;
	line-height: 1;
	letter-spacing: 0.4px;
	display: inline-block;
}

.circle {
	aspect-ratio: 1;
	border-radius: 50%;
}

#comments {
	margin: 20px auto;

	.comments-head {
		justify-content: space-between;
		display: flex;
		gap: 1;

		* {
			margin: auto 2px;
		}
	}

	#comments-wrapper {
		.comment {
			margin-bottom: 1.5em;

			.comment-user {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 1em;
				gap: 2;

				.comment-avatar {
					align-self: flex-start;
					width: 25px;
				}

				* {
					margin: auto 2px;
				}
			}

			.comment-body {
				color: var(--text-secondary);
				border-left: 3px solid var(--text-secondary);
				border-radius: 3px;
				padding: 2.5px 10px;
			}

			.comment-edited {
				font-style: italic;
				opacity: 0.8;
			}
		}
	}
}

/* Forms */

.field {
	appearance: none;
	background-color: rgba(0.25, 0.25, 0.25, 0.05);
	color: var(--text);
	display: inline-block;
	resize: vertical;
	width: 100%;
	min-height: 46px;
	padding: 0 1.4rem;
	margin: 0.5rem 0;
	border-radius: 4px;
	border: 2px solid var(--text-secondary);
	transition: all 0.30s ease-in-out;
	outline: unset;
}

select.field {
	background: url("https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg") no-repeat right 0.8em center / 1.4em;

	&::-ms-expand {
		display: none;
	}
}

textarea.field {
	padding: 1rem 1.4rem;
}

[data-theme="dark"] .field {
	background-color: #40404040;
}

.field:focus {
	box-shadow: 0 0 8px var(--primary);
	border-color: var(--primary);
}

.field::placeholder {
	color: var(--text-secondary);
}

.field-required {
	color: red;
}

.label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/* Media Queries */

@media (max-width: 768px) {
	.header-container {
		margin-top: 7rem;
		text-align: center;
	}

	.content-text h2 {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 600px) {
	.row-hero {
		padding: 0;
	}

	.col-25, .col-75 {
		width: 100%;
		margin-top: 0;
	}
}

.typewriter {
	overflow: hidden;
	border-right: 0.15em solid var(--primary);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: var(--primary);
	}
}
