@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");

:root {
	--body-color: #000000;
	--header-color: #1c1e1f;
	--selection-color: #1c1e1f;
	--accent-color: #49a7fc;
	--text-color: #e1e4e6;
	--link-color: #abaeb0;
	--title-color: #49a7fc;
	--subtitle-color: #76797a;
}

.light-theme {
	--body-color: #ffffff;
	--header-color: #e1e4e6;
	--selection-color: #e1e4e6;
	--accent-color: #136dbf;
	--text-color: #1c1e1f;
	--link-color: #46494a;
	--title-color: #136dbf;
	--subtitle-color: #303233;
}

* {
	color: var(--text-color);
	font-family: "Quicksand", sans-serif;
	font-size: 1.2rem;
	user-select: none;
	user-zoom: none;
	webkit-user-select: none;
}

body {
	background-color: var(--body-color);
	margin: 0;
	padding: 0;
}

a {
	color: var(--link-color);
}

a:hover,
a:focus {
	color: var(--accent-color);
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
}

code {
	font-family: "JetBrains Mono", Monospace;
}

.background {
	background-attachment: fixed;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.head {
	background-color: var(--header-color);
	padding: 4px;
}

.head-title {
	color: var(--title-color);
	font-size: 48px;
	margin-top: 0.5em;
}

.article {
	background-color: var(--selection-color);
	margin-top: 3.5em;
	padding: 4px;
}

.article-title {
	color: var(--subtitle-color);
	font-size: 32px;
	margin-bottom: 0;
	margin-top: 0.5em;
}

.footer {
	background-color: #000000;
	color: #d6e5ff;
	padding: 4px;
	position: relative;
	bottom: 0;
	left: 0;
}

.post {
	background-color: var(--selection-color);
	margin-top: 2em;
	font-size: 1.1rem;
	padding: 4px;
}

.post:hover,
.post:focus {
	background-color: var(--selection-color);
}

.post-title {
	color: var(--title-color);
	font-size: 1.5rem;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.post-info {
	color: var(--subtitle-color);
	font-size: 12px;
}

.divider {
	background-color: gray;
	color: gray;
	border-width: 0;
	height: 2px;
}