---
layout: default
---

<p style="text-transform: uppercase;">
	Home / Blog / <u>{{ page.title }}</u>
</p>

{% if page.banner %}
<img src="{{ page.banner | relative_url }}">
<br>
<br>
{% endif %}
<h2>{{ page.title }}</h2>
<p>Blog &middot; {{ page.date | date: '%B %d, %Y'}} &middot; by <span class="link">{{ page.author | default: site.author.name }}</span></p>

{% if page.tags %}
	<small>Tags: <span class="tag">{{ page.tags | join: '</span> - <span class="tag">'}}</span></small>
{% endif %}

{% if page.status == 'public' %}
<div class="article">
	{{ content }}
</div>
{% else %}
	<p>The post you followed is not public, please contact me (i.e. via footer social medias) or try again later.</p>
{% endif %}

{% if page.comments_id %}
	{% include comments.html issue_id=page.comments_id %}
{% endif %}
