---
layout: default
---

{% if page.status == 'public' %}
	<p style="text-transform: uppercase;">
		<span class="tag"> Home / Blog / </span><u>{{ page.title }}</u>
	</p>

	{% if page.banner %}
	<p><img src="{{ page.banner | absolute_url }}" alt="{{ page.title }}" style="width: 100%; margin-left: auto; margin-right: auto;"></p>
	{% endif %}
	<h2>{{ page.title }}</h2>
	<p>Blog &middot; {{ page.date | date: '%B %d, %Y'}} &middot; by <span class="text-primary">{{ page.author | default: site.author.name }}</span></p>
	{% if page.updated %}
	<p>Updated: <span class="text-primary">{{ page.updated | date: '%B %d, %Y'}}</span></p>
	{% endif %}

	{% if page.tags %}
		<span class="tag">{{ page.tags | join: '</span> <span class="tag">'}}</span>
	{% endif %}

	<div class="article">
		{{ content }}
	</div>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1388434276906165" crossorigin="anonymous"></script>
	<!-- Download Page Ads -->
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1388434276906165" data-ad-slot="3952562534" data-ad-format="auto" data-full-width-responsive="true"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1388434276906165" crossorigin="anonymous"></script>
	<!-- Multiplex Ads -->
	<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-1388434276906165" data-ad-slot="8084197474"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
{% else %}
	<p>The post you followed is not public, please contact me (i.e. via footer social medias) or try again later.</p>
{% endif %}
