---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
	{% if page.layout == "project" or page.layout == "blog" %}
	{% include seo_post.html %}
	{% else %}
	{% include seo_default.html %}
	{% endif %}
</head>

<body class="page-{{ page.layout }}">
	{% include google_analytics.html %}

	<div class="wrapper">
		<div class="header">
			<a href="{{ '/' | absolute_url }}"><h1>{{ site.title }}</h1></a>
			<p>{{ site.tagline }}</p>
			<hr>
			<div class="nav-menu">
				<a href="{{ '/' | relative_url }}">Home</a>
				<span class="link"> | </span>
				<a href="{{ '/projects.html' | relative_url }}">Projects</a>
				<span class="link"> | </span>
				<a href="{{ '/blog.html' | relative_url }}">Blog</a>
				<span class="link"> | </span>
				<a href="{{ '/about.html' | relative_url }}">About</a>
			</div>
		</div>

		<div class="container">
			{{ content }}

			{% if page.discord_preview %}
			<h1>Join community</h1>
			<p>Chat with me, with everyone and see memes lol!👋</p>
			<div style="text-align: center;">
				<iframe src="https://discord.com/widget?id=857299210529407068&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
			</div>
			{% endif %}
		</div>
	</div>

	<footer class="footer">
		<div class="social-media">
			<a href="{{ site.twitter }}" target="_blank">
				<i class="fa-brands fa-twitter fa-2x"></i>
			</a>
			<a href="{{ site.youtube }}" target="_blank">
				<i class="fa-brands fa-youtube fa-2x"></i>
			</a>
			<a href="{{ site.instagram }}" target="_blank">
				<i class="fa-brands fa-instagram fa-2x"></i>
			</a>
			<a href="{{ site.discord }}" target="_blank">
				<i class="fa-brands fa-discord fa-2x"></i>
			</a>
			<a href="{{ site.github }}" target="_blank">
				<i class="fa-brands fa-github fa-2x"></i>
			</a>
			<a href="{{ site.itchio }}" target="_blank">
				<i class="fa-brands fa-itch-io fa-2x"></i>
			</a>
		</div>

		<p>&copy; 2018-{{ "now" | date: "%Y" }} <strong>Gabriel Aplok</strong>. All rights reserved.</p>

		<small>All copyrights and trademarks are the property of their respective owners.</small>

		{% if page.content contains 'Minecraft' or page.content contains 'Mojang' or page.content contains 'Microsoft' %}
		<small>This website is not affiliated with Mojang Studios or Microsoft</small>
		{% endif %}

		<div>
			<a href="{{ '/privacy.html' | relative_url }}">Privacy Policy</a>
			<span class="link"> | </span>
			<a href="{{ '/sponsor.html' | relative_url }}">Sponsor My Work 💖</a>
		</div>

		<hr>

		<div>
			<a href="{{ '/gallery/render.html' | relative_url }}">3D Model Gallery</a>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<script src="{{ 'https://www.gstatic.com/firebasejs/8.0.0/firebase.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/index.js' | relative_url }}"></script>

	<script>
		var swiper = new Swiper(".swiper", {
			spaceBetween: 10,
			loop: true,
			autoplay: {
				delay: 2000,
				disableOnInteraction: true
			},
			scrollbar: {
				el: ".swiper-scrollbar",
				hide: false
			},
			breakpoints: {
				640: {
					slidesPerView: 2,
					centeredSlides: true
				}
			}
		});
	</script>
	{% if page.layout == "project" or page.layout == "blog" %}
	{% if site.environment == 'production' and page.status == 'public' %}
	<script>
	const config = {
		apiKey: "AIzaSyAuXaRksyeyUFUpa1-EFIT-T2tcvj8IJjY",
		authDomain: "gabriel-aplok-d142f.firebaseapp.com",
		databaseURL: "https://gabriel-aplok-d142f-default-rtdb.firebaseio.com",
		projectId: "gabriel-aplok-d142f",
		storageBucket: "gabriel-aplok-d142f.appspot.com",
		messagingSenderId: "884160110204",
		appId: "1:884160110204:web:74a89fe7585856a3eaf3f9",
		measurementId: "G-XNDH684FFG"
	};

	firebase.initializeApp(config);

	const database = firebase.database();

	(function() {
		let views = 0;

		database.ref("counter{{ page.id}}").once("value", function(snapshot) {
			if (snapshot.val() && snapshot.val().views) {
				views = snapshot.val().views;
			}

			database.ref("counter{{ page.id }}").set({
				views: views + 1
			});
		});
	})();
	</script>
	{% endif %}
	{% endif %}
</body>
</html>
