---
# layout: minify_html
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
	{% if page.layout == "project" or page.layout == "blog" %}
	{% include head_post.html %}
	{% else %}
	{% include head_default.html %}
	{% endif %}

	<meta name="google-adsense-account" content="ca-pub-1388434276906165">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1388434276906165" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Google Tag (gtag.js) -->
	{% include google_analytics.html %}
	<!-- Cookie Consent -->
	{% if page.url != "/privacy.html" %}
	<div class="cookie-consent">
		<h3>Hey! Do you like cookies?</h3>
		<p>Some of our cookies collect data only to remember your user's website preferences. In the case of analytics or marketing cookies, we always collect as little data as possible to ensure we keep our marketing well targeted - which usually results in you not being spammed by any of our ads. We also never analyze data about you, in particular, everything at <strong>FireWave Interactive</strong> is analyzed in aggregate. <a href="{{ 'privacy.html' | absolute_url }}" target="_blank" title="Privacy Policy">Read more</a></p>
		<p class="button button-secondary cookie-consent-accept" style="width: 95%;">Accept <i class="fas fa-arrow-right"></i></p>
	</div>
	{% endif %}
	<!-- Header -->
	<header id="hero">
		<!-- Navbar -->
		<nav class="navbar">
			<div class="container">
				<!-- Logo -->
				<a id="logo" href="{{ site.url | absolute_url }}">
					<img src="{{ '/assets/img/logo.png' | absolute_url }}" alt="FireWave Interactive">
				</a>
				<!-- Navbar Links -->
				<ul class="nav-menu">
					{% assign pages = site.pages | sort: 'nav_order' %}
					{% for pageIndex in pages %}
						{% if pageIndex.nav_order and pageIndex.nav_order > 0 %}
							{% if pageIndex.url == page.url %}
								<li><a class="nav-link active" href="{{ pageIndex.url | absolute_url }}">{{ pageIndex.title }}</a></li>
							{% else %}
								<li><a class="nav-link" href="{{ pageIndex.url | absolute_url }}">{{ pageIndex.title }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
					<br>
					<div class="theme-switch-wrapper">
						<label class="theme-switch" for="checkbox">
							<input type="checkbox" id="checkbox" />
							<div class="slider round"></div>
						</label>
						<p> Enable Dark Mode <em>(Beta)</em></p>
					</div>
				</ul>
				<!-- Hamburger Menu -->
				<div class="hamburger">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
			</div>
		</nav>
		{% if page.hero == true %}
		<section class="header-container">
			<div class="row row-hero">
				<div class="col-25">
					<img class="profile-image" src="{{ 'assets/img/profile.png' | absolute_url }}" alt="Gabriel Aplok">
					<h1 class="mt1">Hello, I'm <span class="text-primary">Gabriel</span></h1>
				</div>
				<div class="col-75">
					<div class="content-text">
						<h3 class="mt0">Full-Stack Developer</h3>
						<p class="mt0">My name is <span class="text-primary">Gabriel Lima</span> and I'm a full-stack, game and minecraft bedrock addon developer or just someone who likes to tinker with technology, wishing to create fun, innovative, and quality experiences!</p>
					</div>
					<a href="#projects" class="button button-secondary">VIEW MY PROJECTS</a>
				</div>
			</div>
		</section>
		{% endif %}
	</header>
	<!-- Main Content -->
	<main class="main">
		{{ content }}
	</main>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<!-- Social links -->
			<div class="social">
				<a href="https://linkedin.com/in/gabrielaplok" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
				<a href="https://github.com/gabriel-aplok/" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
				<a href="https://x.com/GabrielAplok" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
				<a href="https://instagram.com/gabriel__yeah" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
				<a href="https://youtube.com/GabrielAplok" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>
				<a href="https://discord.gg/PppEgBdss4" target="_blank"><i class="fa-brands fa-discord fa-2x"></i></a>
			</div>
			<!-- Copyright -->
			<p>&copy; 2018-<span class="date-y">2024</span> Gabriel Aplok. All rights reserved.</p>
			<!-- Links -->
			<div class="links">
				<a href="{{ '/terms.html' | absolute_url }}">Terms of Service</a>
				<span > | </span>
				<a href="{{ '/privacy.html' | absolute_url }}">Privacy of Policy</a>
				<span > | </span>
				<a href="{{ '/sponsor.html' | absolute_url }}">Sponsor My Work</a>
			</div>
			<!-- Attribution -->
			<img class="dmca-badge" src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=fbe00151-063d-40fb-bcaf-712f3410f309" alt="DMCA.com Protection Status"/>
			<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
		</div>
	</footer>
	<!-- Scripts -->
	<script type="module">
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js";

		const firebaseConfig = {
			apiKey: "AIzaSyCkjLnWOgkjMqfZcedbCo_8dj7F5nEIPCM",
			authDomain: "gabriel-aplok-46172.firebaseapp.com",
			projectId: "gabriel-aplok-46172",
			storageBucket: "gabriel-aplok-46172.appspot.com",
			messagingSenderId: "1052791408123",
			appId: "1:1052791408123:web:76d2717044c7483bb4b75e",
			measurementId: "G-FJD9RTYZP5"
		};

		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	</script>
	<script async defer src="https://www.google.com/recaptcha/api.js"></script>
	<script async src="{{ '/assets/js/index.js' | absolute_url }}"></script>
</body>
</html>
