---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
	{% if page.layout == "project" or page.layout == "blog" %}
	{% include head_post.html %}
	{% else %}
	{% include head_default.html %}
	{% endif %}

	<meta name="google-adsense-account" content="ca-pub-1388434276906165">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1388434276906165" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Google tag (gtag.js) -->
	{% include google_analytics.html %}
	<!-- Header -->
	<header id="hero">
		<!-- Navbar -->
		<nav class="navbar">
			<div class="container">
				<!-- Logo -->
				<a id="logo" href="{{ site.url | absolute_url }}">
					<img src="{{ '/assets/img/logo.png' | absolute_url }}" alt="FireWave Interactive">
				</a>
				<!-- Navbar Links -->
				<ul class="nav-menu">
					{% assign pages = site.pages | sort: 'nav_order' %}
					{% for pageIndex in pages %}
						{% if pageIndex.nav_order and pageIndex.nav_order > 0 %}
							{% if pageIndex.url == page.url %}
								<li><a class="nav-link active" href="{{ pageIndex.url | absolute_url }}">{{ pageIndex.title }}</a></li>
							{% else %}
								<li><a class="nav-link" href="{{ pageIndex.url | absolute_url }}">{{ pageIndex.title }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
					<br>
					<div class="theme-switch-wrapper">
						<label class="theme-switch" for="checkbox">
							<input type="checkbox" id="checkbox" />
							<div class="slider round"></div>
						</label>
						<p> Enable Dark Mode <em>(Beta)</em></p>
					</div>
				</ul>
				<!-- Hamburger Menu -->
				<div class="hamburger">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
			</div>
		</nav>
		{% if page.hero == true %}
		<section class="header-container">
			<img class="profile-image" src="{{ 'https://avatars.githubusercontent.com/u/97059054?v=4' | absolute_url }}" alt="Gabriel Aplok">
			<h1>Hello, I'm <span class="primary">Gabriel</span></h1>
			<div class="content-text">
				<h2>Full-Stack Developer</h2>
				<p>My name is <span class="primary">Gabriel Lima</span> and I'm a full-stack developer and minecraft bedrock addon developer or just someone who likes to tinker with technology, wishing to create fun, memorable, and quality experiences!</p>
			</div>
			<a href="#projects" class="button button-secondary">VIEW MY PROJECTS</a>
		</section>
		{% endif %}
	</header>
	<!-- Main Content -->
	<main class="main">
		{{ content }}
	</main>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<!-- Social links -->
			<div class="social">
				<a href="https://linkedin.com/in/gabrielaplok" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
				<a href="https://github.com/gabriel-aplok/" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
				<a href="https://x.com/GabrielAplok" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
				<a href="https://instagram.com/gabriel__yeah" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
				<a href="https://youtube.com/GabrielAplok" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>
				<a href="https://discord.gg/PppEgBdss4" target="_blank"><i class="fa-brands fa-discord fa-2x"></i></a>
			</div>
			<!-- Copyright -->
			<p>&copy; 2018-<span class="date-y">2024</span> GABRIEL APLOK. ALL RIGHTS RESERVED.</p>
			<em style="font-size: 0.5rem;">ALL COPYRIGHTS AND TRADEMARKS ARE THE PROPERTY OF THEIR RESPECTIVE OWNERS.</em>
			<br>
			<!-- Links -->
			<div class="links">
				<a href="{{ '/privacy.html' | absolute_url }}">Privacy Policy</a>
				<span > | </span>
				<a href="{{ '/sponsor.html' | absolute_url }}">Sponsor My Work</a>
			</div>
			<!-- Attribution -->
			<img class="dmca-badge" src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=fbe00151-063d-40fb-bcaf-712f3410f309" alt="DMCA.com Protection Status"/>
			<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
		</div>
	</footer>
	<!-- Scripts -->
	<script type="module">
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js";

		const firebaseConfig = {
			apiKey: "AIzaSyCkjLnWOgkjMqfZcedbCo_8dj7F5nEIPCM",
			authDomain: "gabriel-aplok-46172.firebaseapp.com",
			projectId: "gabriel-aplok-46172",
			storageBucket: "gabriel-aplok-46172.appspot.com",
			messagingSenderId: "1052791408123",
			appId: "1:1052791408123:web:76d2717044c7483bb4b75e",
			measurementId: "G-FJD9RTYZP5"
		};

		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	</script>
	<script src="{{ '/assets/js/index.js' | absolute_url }}"></script>
</body>
</html>
