<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/favicon.png">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		{% seo %}
	</head>

	<body class="page-{{ page.page_type | default: 'home' }}">
		<header>
			<div id="title" style="background-image: url('{{ page.banner | default: '/assets/images/banner-logo.png' }}')">
			</div>
		</header>
		<div class="wrapper">

			<div class="container">
				<div class="nav-menu">
					<a href="/">Projects</a>
					<span class="link"> | </span>
					<a href="/articles.html">Articles</a>
					<span class="link"> | </span>
					<a href="/news.html">News</a>
					<span class="link"> | </span>
					<a href="/about.html">About</a>
				</div>
				{{ content }}
			</div>

			{% include footer.html %}
		</div>
	</body>
</html>
