<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="/favicon.png">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		{% seo %}
	</head>

	<body class="page-{{ page.page_type | default: 'home' }}">
		<div class="wrapper">
			<section>
				<div id="title">
					<h1>{{ page.title | default: site.title }}</h1>
					<p>{{ page.description | default: site.description }}</p>
					<hr>
					<div class="nav-menu">
						<a href="/">Projects</a>
						<span class="link"> | </span>
						<a href="/articles.html">Articles</a>
						<span class="link"> | </span>
						<a href="/news.html">News</a>
						<span class="link"> | </span>
						<a href="/about.html">About</a>
					</div>
				</div>

				<div class="container">
					{{ content }}
				</div>
			</section>

			{% include footer.html %}
		</div>
	</body>
</html>
