---
layout: default
---
<div class="article">
	<p style="text-transform: uppercase;">
		Home / Projects / <u>{{ page.title }}</u>
	</p>

	{% if page.status == 'public' %}

	<h1>{{ page.title }}</h1>
	<p>Project &middot; {{ page.date | date: '%B %d, %Y'}} &middot; by <span class="text-primary">{{ page.author |
			default: site.social.name }}</span></p>
	{% if page.updated %}
	<p>Updated: <span class="text-primary">{{ page.updated | date: '%B %d, %Y'}}</span></p>
	{% endif %}

	<p>{{ page.description }}</p>
	<hr>

	{{ content }}
</div>
<br>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1388434276906165"
	crossorigin="anonymous"></script>
<!-- Download Page Ads -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1388434276906165" data-ad-slot="3952562534"
	data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1388434276906165"
	crossorigin="anonymous"></script>
<!-- Multiplex Ads -->
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-1388434276906165"
	data-ad-slot="8084197474"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% else %}
<h1>NOT FOUND</h1>
<p>The project you followed is not public, sorry. Please contact-me (via footer social media) or try again later.</p>
{% endif %}