---
layout: default
scroll: true
---

<p style="text-transform: uppercase;">
	Home / Projects / <u>{{ page.title }}</u>
</p>

<h1>{{ page.title }}</h1>
<p>Project &middot; {{ page.date | date: '%B %d, %Y'}} &middot; by <span class="link">{{ page.author | default: site.author.name }}</span></p>
{% if page.updated %}
<p>Updated: <span class="link">{{ page.updated | date: '%B %d, %Y'}}</span></p>
{% endif %}

<p>
	<img src="{{ page.banner | absolute_url }}" alt="{{ page.title }}" style="display: block; margin-left: auto; margin-right: auto;">
</p>

<p> {{ page.description }}</p>

{% if page.status == 'public' %}
<div class="article">
	{{ content }}
</div>
{% else %}
	<p>The project you followed is not public, please contact me (i.e. via footer social medias) or try again later.</p>
{% endif %}

<br>
<br>

{% if page.tags %}
	<small>Tags: <span class="tag">{{ page.tags | join: '</span> - <span class="tag">'}}</span></small>
{% endif %}

<br>

{% if page.comments_id %}
	{% include comments.html issue_id=page.comments_id %}
{% endif %}

<br>
<br>
